﻿@{
    ViewData["Title"] = "About";
}

@* <div class="text-center welcome-section">
    <h1>@ViewData["Title"]</h1>
    <img src="~/images/Resume.jpg" alt="anchu" style="width: 400px; height: 400px; " />

</div> *@
<!-- Resume Section -->
<link href="~/css/main.css" rel="stylesheet">
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h1>@ViewData["Title"]</h1>
        @* <h2>Resume</h2> *@
        <p>
            A professional focused on achieving results, holding a Master's
            degree in Embedded and Intelligent Systems from Halmstad
            University. Skilled in creating advanced and intelligent systems using
            C++/C/Python/C# programming languages. Certified as a Scrum
            Master with a successful history of guiding agile teams and projects.
            Committed to utilizing software and embedded development skills to
            propel technological progress and provide inventive solutions.

        </p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Anchu Antony</h4>
                    <p><em>Innovative and deadline-driven Software Developer with Over 6 years of experience designing, developing, and optimizing user-centered web applications and embedded systems.</em></p>
                    <ul>
                        <li>Sweden</li>
                        <li>+46 7674582004</li>
                        <li>anchuantony2212@gmail.com</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Training: Fullstack .NET Web developer</h4>

                    <h5>2024</h5>
                    <p><em>Lexicon AB, Sweden</em></p>
                    <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
                </div><!-- Edn Resume Item -->
                <div class="resume-item">
                    <h4>Masters in Embedded &amp; Intelligent Systems</h4>

                    <h5>2021 - 2024</h5>
                    <p><em>Halmstad University, Sweden</em></p>
                    <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
                </div><!-- Edn Resume Item -->
                <div class="resume-item">
                    <h4>Master of Computer Applications (MCA)</h4>

                    <h5>2010 - 2015</h5>
                    <p><em>Bharathiar University, India</em></p>
                    <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
                </div><!-- Edn Resume Item -->
                <div class="resume-item">
                    <h4>Bachelor of Computer Applications (BCA)</h4>
                    <h5>2007 - 2010</h5>
                    <p><em>Bharathiar University, India</em></p>
                    <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Embedded Software Developer</h4>
                    <h5>2023 - Present(part-time)</h5>
                    <p><em>ETAB Energy AB, Sweden </em></p>
                    <ul>
                        <li>
                            Participated in all phases of the product development lifecycle,
                            including requirements analysis, design, coding, testing, and
                            debugging.
                        </li>
                        <li>
                            Developed optimization systems for energy control/storage and
                            IoT products, delivering well-documented Python programs.
                        </li>
                        <li>
                            Improved product functionality, contributing to successful
                            project outcomes.
                        </li>
                        <!-- <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
                    </ul>
                </div><!-- Edn Resume Item -->
                <div class="resume-item">
                    <h4>Web Developer</h4>
                    <h5>2019 - 2021</h5>
                    <p><em>Aitrich Technologies, India</em></p>
                    <ul>
                        <li>
                            Participated in the full product development lifecycle from
                            requirements gathering to design, coding, testing, and
                            debugging.
                        </li>
                        <li>
                            Built dynamic and user-friendly web applications using C#, React,
                            HTML, CSS, and JavaScript, increasing user engagement and
                            satisfaction.
                        </li>
                        <li>Implemented features such as real-time updates and responsive designs, improving site performance and conversion rates.</li>
                        <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
                    </ul>
                </div><!-- Edn Resume Item -->
                <div class="resume-item">
                    <h4>
                        Software Developer
                    </h4>
                    <h5>2017 - 2019</h5>
                    <p><em>KKMMPTC, India</em></p>
                    <ul>
                        <li>
                            Engaged in requirements analysis, system design, coding,
                            testing, and debugging for temperature sensors in industrial
                            applications on embedded Linux platforms.
                        </li>
                        <li>
                            Enhanced sensor accuracy and efficiency using C++ with the
                            GCC compiler toolchain, optimizing industrial processes.
                        </li>
                        <!-- <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
                    </ul>
                </div><!-- Edn Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
