@* @model YourNamespace.Models.YourModel *@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-container">
    <div class="profile-section">
        <img src="~/images/anchu.jpg" alt="Profile Picture" class="profile-img" />
    </div>
    <div class="intro-section">
        <h1>Hello</h1>
        <p class="intro-text">A Bit About Me</p>
        <p>I am a dedicated Software Engineer with a Master's degree in Embedded and Intelligent Systems from Halmstad University. I bring a wealth of experience in developing dynamic and user-friendly web applications using a variety of technologies. My expertise spans across all phases of the product development lifecycle, ensuring comprehensive and efficient project execution.</p>
        <div class="buttons">
            @* <a href="#" class="btn btn-resume">Resume</a>
            <a href="#" class="btn btn-projects">Projects</a>
            <a href="#" class="btn btn-contact">Contact</a> *@
            <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-resume">Resume</a>
            <a asp-area="" asp-controller="Home" asp-action="Projects" class="btn btn-projects">Projects</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn btn-contact">Contact</a>
        </div>
    </div>
</div>
