@{
    ViewData["Title"] = "About";
}

<div class="text-center ">
    <h1>@ViewData["Title"]</h1>
   @*  <p>
        A professional focused on achieving results, holding a Master's
        degree in Embedded and Intelligent Systems from Halmstad
        University. Skilled in creating advanced and intelligent systems using
        C++/C/Python/C# programming languages. Certified as a Scrum
        Master with a successful history of guiding agile teams and projects.
        Committed to utilizing software and embedded development skills to
        propel technological progress and provide inventive solutions.
    </p> *@
    <img src="~/images/Resume.jpg" alt="anchu" style="width: 400px; height: 500px; " />

</div>