@{
    ViewData["Title"] = "Contact";
}

<div class="text-center welcome-section">
    <h1>@ViewData["Title"]</h1>
    <p>Anchu Antony</p>
    <p>anchuantony@gmail.com</p>
    <p>www.linkedin.com/in/anchu-antony</p>
    <p>Sweden</p>
</div>
