@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome-section">
    <h1 class="display-4">Welcome to my portfolio</h1>
    <img src="~/images/anchu.jpg" alt="anchu" style="width: 150px; height: 150px; border-radius: 50%;" />
    <p>Learn about <a href="https://www.linkedin.com/in/anchu-antony/">Anchu Antony</a>.</p>
</div>
