@{
    ViewData["Title"] = "Projects";
}

<div class="text-center welcome-section">
    <h1>@ViewData["Title"]</h1>
    <p>
        This ASP.NET MVC web application project implements a basic structure with a shared layout featuring a header with navigation, a dynamic content container, and a footer displaying the current date and developer's name using Razor. It includes three views: About for personal information, Contact for contact details, and Projects listing GitHub links with brief descriptions of completed assignments.
    </p>
    <p><a href="https://github.com/AnchuAntony22/C-Sharp/tree/master/WebApplicationAss1/">GitHub </a></p>
</div>
